/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #a5c0dd;
}
/* header section */
.nav-bar {
  display: flex;
  background-color: #f7d060;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.logo {
  width: 3rem;
  margin: 0 0.5rem;
}
h1 {
  text-align: center;
  padding: 0 10px;
  font-size: 2em;
  color: #121;
}
/* main content */
.container {
  padding: 1.3rem;
  width: 50%;
  margin: 10px auto;
  background-color: #b4adad;
  box-shadow: inset 0 0 25px #6d6a6a;
  border: 3px solid #979292;
  border-radius: 1rem;
}
.heading-section {
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.6rem;
}
.heading {
  color: #124;
  text-align: center;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  font-size: 2rem;
}
#category-select {
  width: inherit;
  display: block;
  margin: 10px auto;
}
.ip-select {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0.6rem auto;
  padding: 0.8em;
}
select,
input {
  width: 45%;
  background-color: #456;
  color: #fff;
  border: 2.5px solid #212a3e;
  height: 35px;
  padding: 0 10px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 17px;
}
.output {
  border: 2.5px solid #212a3e;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #567;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
a {
  color: #fff;
}
input:focus,
select:focus {
  border: 2.5px solid #ffebeb;
}
/* css for responsive design */
@media only screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
  .elements {
    padding: 20px 0;
  }
  .nav-bar {
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    justify-content: space-between;
  }
  h1 {
    font-size: 1.6rem;
  }
  .heading-section {
    width: 90%;
    margin: 15px auto;
  }
  input,
  select {
    width: 90%;
    margin: 8px 15px;
  }
  #category-select {
    width: 90%;
    margin: 8px 15px;
  }
  .ip-select {
    width: 90%;
    flex-direction: column;
  }
}
